body {
	background-color: #A6DBE1;
	font-family: 'Poppins', sans-serif;
	margin: 30;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: space-around;
    color:white;
   
    
}
h1{
	font-size: 40px;
	font-weight: 900;
	
}
p { font-family: 'Poppins', sans-serif;
	font-size: 23px;
	padding:1.em;

}